<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人物简介</title>
    <style>
      .scroll {
        width: 300px;
        overflow: hidden;
      }
      .one {
        color: red;
      }
      .two {
        color: yellow;
      }
      .three {
        green;
      }
      .four {
        color: purple;
        text-align: center;
        font-size: 24px;
      }
    </style>
</head>
<body>
  <header>
    <h1>这是谁？</h1>
  </header>
  <main>
    <p><img src="https://i.miji.bid/2025/04/03/aace85cfc92b0f21c3da6d6f5268c691.webp" alt="坤坤" height="77" title="这是坤坤">
    <b>姓名：</b>蔡徐坤 <b>别称：</b>坤坤等</p><br>
    <b>爱好：</b><br>
    <ul>
      <li><p class="one">唱</p></li>
      <li><p class="two">跳</p></li>
      <li><p class="three">rap</p></li>
      <li><p class="four">打篮球</p></li>
    </ul>
  </main>
  <div id="scroll-text" class="scroll">信我，我不是小黑子</div>
  <script>
    const textDiv=
</body>
</html>