<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
      }
      .notice {
        background-color: red;
        font-weight: bold;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>永劫无间</h1>
    </header>
    <main>
      <div class="grid-container">
        <img src="https://cdn.jsdelivr.net/gh/102300671/image@main/pydevbase/frontend/D3-1.png" width="200px" height="auto" alt="永劫无间" title="永劫无间">
        <p><span class="notice">公告</span><span style="font-weight:bold;">永劫无间</span><br><span style="color:lightgray;font-size:10px;">2024/08/20</span><br><span style="font-size: 14px;color:lightgray">8月20日《永劫无间》违规玩家封禁公告 我们发现仍有部分账号异地登录使用外挂被封禁，开发团队提醒各位玩家，切勿轻信租号、借号等广告，</span></p>
      </div>
      <div class="grid-container">
        <img src="https://cdn.jsdelivr.net/gh/102300671/image@main/pydevbase/frontend/D3-2.png" width="200px" height="auto" alt="永劫无间" title="永劫无间">
        <p><span class="notice">公告</span><span style="font-weight:bold;">永劫无间</span><br><span style="color:lightgray;font-size:10px;">2024/08/20</span><br><span style="font-size: 14px;color:lightgray">8月20日《永劫无间》违规玩家封禁公告 我们发现仍有部分账号异地登录使用外挂被封禁，开发团队提醒各位玩家，切勿轻信租号、借号等广告，</span></p>
      </div>
      <div class="grid-container">
        <img src="https://cdn.jsdelivr.net/gh/102300671/image@main/pydevbase/frontend/D3-3.png" width="200px" height="auto" alt="永劫无间" title="永劫无间">
        <p><span class="notice">公告</span><span style="font-weight:bold;">永劫无间</span><br><span style="color:lightgray;font-size:10px;">2024/08/20</span><br><span style="font-size: 14px;color:lightgray">8月20日《永劫无间》违规玩家封禁公告 我们发现仍有部分账号异地登录使用外挂被封禁，开发团队提醒各位玩家，切勿轻信租号、借号等广告，</span></p>
      </div>
    </main>
  </body>
</html>