<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <!-- 引入样式表等其他资源 -->
  <link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}">
</head>

<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <!-- 导航栏链接 -->
      {% for link in site.data.navigation %}
      <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
  </footer>

</body>

</html>
